<!doctype html>
<html lang="es">
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
<link rel="stylesheet" href="css/testRappi.css">

<meta charset="utf-8"/>

<title>Rappi Test Coding - Fredy Alejandro Murcia Espinosa</title>
</head>
<body>
<div class="row">
	<div class="navbar-fixed">
    <nav>
    <div class="nav-wrapper">
      <a href="https://www.rappi.com/" class="rappi-logo"><img class="responsive-img" src="https://global-uploads.webflow.com/5746d4c4a3e009bb4d9ac858/594d73dd030f614258dd8c9c_f8c188ac47e56c861ed8f3b044ffa4f3.png"" alt="Smiley face" height="140" width="140"></a>
    </div>
  </nav>
  </div>

	<div id="rappi-header-img">
	  <div class="col s12 rappi-header-img">
		<div class="row col s12">
			<div class="rappi-tittle"><h1 class="white-text rappi-tittle-comp-1">Rappi Test Coding</h1>
				<p><h3 class="white-text rappi-tittle-comp-2">Fredy Alejandro Murcia Espinosa</h3></p>
			</div>
		</div>
			<div class="rappi-form row">
				<div hidden="true" id="contact-form-text" class="rappi-contact-form-text"><h4 class="white-text rappi-content-comp">Query Ejecutada
				</div> 
					<div ng-app="app" ng-controller="HttpGetController" class="row">
						<h4 class="white-text rappi-form-opt-text">Ingrese los datos del cubo a sumar.</h4>
						<div class="input-field col s12">
							<input id="message" type="text" ng-model="message" required="true" class="validate rappi-form-opt">
							<label for="message" class="rappi-form-opt-p-holder">Query</label>
						</div>
						<button ng-click="SendData()">Submit</button>
						<div class="white-text rappi-form-opt-text col s12" ng-if="answer">Respuesta: {{answer}}</div>
					</div>
			</div>
		</div>
	  </div>
    </div>
</div>
  
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
<script src="js/testRappi.js" type="text/javascript"></script>
</body>

</html>
