	html{
    	height: 100%;
	}
	body{
    	height: 100%;
	}

	.discounts {
    	margin-left: 5%;
		margin-right: 5%;
		height: 65%;
	}
	.rappi-header {
		height: 3%;
	}
	
	.rappi-header-img {
		padding: 0px !important;
		border-style: solid;
		border-color: #D12A2F;
		border-top-color: white;
		background-color: #D12A2F;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
	.nav-wrapper {
		background-color: #D12A2F;
	}
	.rappi-footer-webpage{
		margin-top: 1%;
	}
	.rappi-webpage-link{
		margin-top: 5%;
	}
	.rappi-webpage-link-tittle{
		color: #f5f5f5 !important;
	}
	.rappi-menu-opt{
		margin-top: 1%;
		font-size: 1.2rem;
	} 
	.rappi-menu{
		margin-top: 15%;
	}
	.rappi-tittle{
		margin-left: 3%;
		margin-top: 0.5%;
	}
	.rappi-tittle-comp-1{
		font-size: 3.8rem;
	}
	.rappi-tittle-comp-2{
		font-size: 2rem;
	}
	.rappi-content{
		padding-right: 5%;
	}
	.rappi-img{
		z-index: 1000;
		margin-left: 5rem;
	}
	.rappi-content-comp{
		text-align: center;
		font-size: 2.5rem;
		margin-top: 0%;
	}
	.rappi-form{
		margin-top: 3%;
		background-color: #FF5F55;
		width: 75%;
		-webkit-border-radius: 10px;
		text-align: center;
		padding: 1rem;
		margin-top: 20%;
	}
	.rappi-form-opt{
		background-color: white !important;
		-webkit-border-radius: 10px !important;
		border-bottom: 1px solid red !important;
		box-shadow: 0 1px 0 0 red !important;
		padding-left: 1rem !important;
	}
	.rappi-form-opt-p-holder{
		color: #1F355E !important;
		margin-left: 3% !important;
		top: 0.6em !important;
		font-size: 1.3rem !important;
		font-weight: 600;
	}
	.rappi-form-opt-button{
		background-color: red !important;
		height: 4.3rem;
		font-size: 2.4rem;
		text-transform: none;
	}
	.rappi-form-opt-text{
		text-align: center;
		font-size: 1.7rem;
		margin-top: 1rem;
		margin-bottom: 1.5rem;
	}
	.invalid{
		color: black !important;
	}
	.responsive-img{
		padding: 0.5%;
	}
	.rappi-header-img{
		height: 70rem;
	}